<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="validation.js"></script>
    <link rel="stylesheet" href="validation.css">

</head>

<body ng-app="myApp" ng-controller="myController">
    <main class="section">
        <div class="row">
            <div class="col-md-6">
                <div style="margin-left: 20px;">
                    <h2>welcome to login page</h2>
                    <div class="row">
                        <form ng-submit="myForm()" name="myForm">
                            <p>
                                <label>name:</label>
                                <input style="margin-left: 20%;" type="text" name="name" ng-model="name" placeholder="Enter The Name" required>
                                <span ng-show="myForm.name.$touched && myForm.name.$invalid">Enter name</span>
                            </p>
                            <p>
                                <label>surname:</label>
                                <input style="margin-left: 17%;" type="text" name="surname" ng-model="surname" placeholder="Enter The Name"
                                    required>
                                <span ng-show="myForm.surname.$touched && myForm.name.$invalid">Enter your
                                    surname</span>
                            </p>
                            <p>
                                <label>phoneNumber:</label>
                                <input style="margin-left: 11%;" type="number" name="phoneNumber" ng-model="phoneNumber" ng-minlength="10"
                                    ng-maxlength="10" placeholder="Enter your phone number" required>
                                <span ng-show="myForm.phoneNumber.$touched && myForm.phoneNumber.$invalid">Enter phone
                                    number</span>
                                <span
                                    ng-show="((myForm.phoneNumber.$error.minlength || myForm.phoneNumber.$error.maxlength)&& myForm.phoneNumber.$touched)">Enter
                                    10 digit number</span>
                            </p>
                            <p>
                                <label>Email :</label>
                                <input style="margin-left: 20%;" type="Email" name="Email" ng-model="Email" placeholder="Enter The Email"
                                    ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                                <span ng-show="myForm.Email.$touched && myForm.Email.$invalid">Enter Email</span>
                                <span ng-show="myForm.Email.$dirty && myForm.Email.$pattern">Enter Valid Email
                                    Address</span>
                            </p>
                            <p>
                                <label>password: </label>
                                <input style="margin-left: 16%;" type="text" name="password" ng-model="password" ng-minlength="4" ng-maxlength="8"
                                    placeholder="Enter The password" required>
                                <span ng-show="myForm.password.$touched && myForm.password.$invalid">Enter
                                    password</span>
                                <span ng-show="myForm.password.$error.minlength && myForm.password.$dirty">
                                    password is too small
                                </span>
                                <span ng-show="myForm.password.$error.maxlength && myForm.password.$dirty">
                                    password is
                                    too long</span>
                            </p>
                            <p>
                                <label>confirmPassword: </label>
                                <input style="margin-left: 8%;" type="text" name="conformPassword" ng-model="confirmPassword"
                                    placeholder="enter confirm password">
                                <span
                                    ng-show="myForm.confirmPassword.$touched && myForm.confirmPassword.$invalid">Enter</span>
                            </p>
                            <button class="btn btn-secondary" ng-disabled="form.$invalid" type="submit"
                                ng-click="myForm()">SignUp</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="text-align: center;float: right;">
                <img src="../assignment5/images.png" width="45%">
            </div>
        </div>
    </main>
</body>

</html>